*{
    padding: 0px;
    margin: 0px;
    border-sizing : border-box;
}
@font-face {
    font-family: 'steph';
    src: url(fonts/steph-font.ttf);
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Images/Abstract\ Landscape\ Minimalist\ Brown.jpg);
    background-size: cover;
}

.container{
    text-align: center;
    border-radius: 20px;
    background-color: rgba(249, 249, 249, 0.557);
    backdrop-filter: blur(7px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.703);
}
.heading{
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: #7C98B3;
    font-family: 'steph';
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 10px;
}
.heading i {
    text-align: center;
     background-color:  rgb(124, 138, 154);
     color: rgb(249, 249, 249);
    width: 30px;
    height: 30px;
    margin-top: 4px;
    padding-top: 2px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.heading i:hover{
    background-color: gray;
}
.input{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
}
.input input{
    font-family: 'steph';   
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.444);
    text-align: center;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.167);
}
.input input:hover{
    background-color: rgba(128, 128, 128, 0.400);
}
.input button{  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    cursor: pointer;
    border: 1px solid gray;
    font-family: 'steph';
    font-size: 1.4rem;
    color: rgb(249, 249, 249);
    background-color:  rgb(124, 138, 154);
    border-radius: 5px;
    height: 34px; 
    width: auto;
}
.input button:hover{
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}
.content{
    font-family: 'steph';
    font-size: 1.5rem;
    margin: 2rem;
    display: flex;
    gap: 3rem;
    color: #000000;
}
.check{
    font-size: 3rem;
    font-family: 'steph';
}
.logo img{
    margin-top: 40%;
    height: 15vh;
}
.info h2{
    font-size: 5rem;
}
.info p,h2,h3{

    margin-bottom: 30px;
}
.hide{
    display: none;
}

